body {
    margin: 0;
    padding: 0;
    background-color: #FFD95A ;
}

.container-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px,auto) repeat(5,100px);
    
}

.button{
    cursor: pointer;
    font-size: 1.5rem;
    border: 1px solid black;
    transition: all .3s;    
}

.button:active {
transform: scale(.8);
}

.button.big{
grid-column: span 2;
}

.button:hover {
    background-color: #FFF7D4;
}

.button.clear:hover {
    background-color: #C83E4D;
}

.button.delete:hover {
    background-color: #C83E4D;
}

.button.equal:hover {
    background-color: #0FF4C6;
}


.button.operation:hover {
    background-color: #F99417;
}



.screen {
    flex-direction: column;
    grid-column: 1/-1;
    background-color: white;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding: 1rem;
    word-wrap: break-word;
    word-break: break-all;
}

.previous-operand {
    font-size: 1.25rem;
}

.current-operand {
    font-size: 2rem;
}

.footer {
    font-size: 1rem;
    color: #FFF7D4 ;
    text-align: center;
    background-color:#4C3D3D ;
    padding: 10px;
}